[submodule "external/ffmpeg"]
	path = external/ffmpeg
	url = https://github.com/plebreton/ffmpeg.git
[submodule "external/libaom"]
	path = external/libaom
	url = https://github.com/plebreton/libaom.git
